body {
    font-family: "Tox", sans-serif;
}

h1 {
    color: #2d633b;
}

.card img {
    height: 200px;
    object-fit: cover;
}

header img {
    max-width: 50%; /* Ajusta el tamaño según necesites */
    height: auto;
}

@font-face {
    font-family: "Tox";
    src: url("fonts/Tox_Typewriter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
